# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon

# Python
*.pyc
__pycache__/
*.pyo

# IDEs
.idea/
.vscode/
*.iml
*.iws

# Build & temporary
*.log
.history

# Release APKs & binaries
*.apk
LogiQ-release.apk
